/* src/SideMenu.css */
.side-menu {
    width: 250px;
    transition: width 0.3s;
    background-color: #fff;
    padding: 10px;
    overflow: auto;
    height: 100vh;
    border-right: 1px solid #ddd;
  }

  .side-icon {
    margin-right: 8px;
  }
  
  .side-menu.closed {
    width: 50px;
  }

  .logo {
    max-width: 150px;
    
  }

  .logo-container {
    display: flex;
    justify-content: space-between;
  }
  
  
  .toggle-button {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    height: 25px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }

  
  
  li {
    padding: 10px 0;
    cursor: pointer;
    font-size: 15px;
  }
  
  li:hover {
    background-color: #ddd;
  }
  
  .submenu {
    padding-left: 20px;
  }
  
  .submenu li {
    padding: 5px 0;
  }