.birthday-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 33.33%;
   /* margin: 0 auto; */
  }
  
  .title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
  }
  
  .birthday-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .birthday-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
  }
  
  .birthday-item:last-child {
    border-bottom: none;
  }
  
  .name-type {
    display: flex;
    flex-direction: column;
  }
  
  .name {
    font-size: 14px;
    font-weight: bold;
    color: #333;
  }
  
  .type {
    font-size: 12px;
    color: #888;
  }
  
  .date {
    font-size: 14px;
    color: #007bff;
    font-weight: bold;
  }