.chart-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* margin: 0 auto; */
    width: 33.33%;
  }
  
  .chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .chart-header h4 {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
  }
  
  .view-all {
    color: #007bff;
    font-size: 14px;
    text-decoration: none;
  }
  
  .view-all:hover {
    text-decoration: underline;
  }