.jeevanadi-list-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.search-add-member {
  display: flex;
  align-items: center;
}

.add-member-btn {
  margin-left: 10px;
}

.odd-row {
  background-color: #f9f9f9;
  height: 30px;
}

.even-row {
  background-color: #e0e0e0;
  height: 30px;
}

.MuiTableCell-root {
  padding: 8px; /* Adjust padding to reduce height */
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-container .MuiPagination-ul {
  justify-content: center;
}
