.footer {
    background-color: #f8f9fa; /* Light gray background */
    padding: 10px;
    text-align: center;
    border-top: 1px solid #e7e7e7;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  span {
    font-size: small;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
  }
  
  .footer-links {
    margin-left: 20px;
  }
  
  .footer-link {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
    font-size: small;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }